<h1>New game</h1>
<div class="letters">
  <!-- You can execute ruby code inside <% %> -->
  <% @random_letters.each do |letter| %>
    <div class="letter"><p><%= letter %></p></div>
  <% end %>

</div>
<br>
<div class="word-input">
  <p>What is the longest word you can find?</p>
  <form action="/score">
    <!-- name enables you to name each parameter corresponding to each input of the form -->
    <input type="text" name="word">
    <input type="submit" value="Play">
  </form>
</div>
